name: docker-openwebui

on:
  push:
    branches: [main]
    paths:
      - 'openwebui/**'
      - '.github/workflows/docker-openwebui.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./openwebui
          push: true
          platforms: linux/amd64,linux/arm64
          tags: heididang/open-webui:latest
          build-args: |
            USE_SLIM=true
          cache-from: type=gha
          cache-to: type=gha,mode=max
